/*
 See:
 - https://tailwindcss.com/docs/functions-and-directives#tailwind
 - https://tailwindcss.com/docs/preflight
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/*
	 * At the small breakpoint, add more horizontal padding and switch to different navbar.
	 * At the large breakpoint, cut off the width of the page.
	 */
	@apply mx-auto max-w-screen-md bg-green-200 sm:px-6 sm:py-4;
}
